// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table,table td
{border:1px solid #000;border-collapse:collapse;}
table tr.odd td
{background:#ccc;}
table tr.even td
{background:#f5fbdb;}