
<% if cart_item == @current_item %>
  <tr id="current_item">
  <% else %>
  <tr>
  <% end %>
  <td><%= h cart_item.title %></td>
  <td><%= h cart_item.quantity %></td>
  <td><%= cart_item.price %></td>
</tr>
